@import url("https://fonts.googleapis.com/css?family=Merriweather:400,400i,700");

* {
	box-sizing: border-box;
}

body {
	font-family: Merriweather, serif;
}

label {
	color: var(--text, white);
}

main {
	background: var(--bg, white);
	color: var(--text, black);
}

main {
	--gradDark: hsl(0, 100%, 100%);
	--gradLight: hsl(210, 100%, 50%);
	background: linear-gradient(to bottom, var(--gradDark), var(--gradLight));
	padding: 20px 20px 20px 20px;
	min-height: 100vh;
	text-align: center;
}

h1{
  position:center;
 }


p{
  position:fixed;
  left:80px;
  top: 100px;
}

.wrapper {
	position: absolute;
	max-width: 30vh;
	margin: 0 auto;
	top: 20vh;
	left: 35%;
}

.signup {
	position: absolute;
	top: 14rem;
	left: 80rem;
}

input.email {
	position: relative;
	top: 2rem;
	left: 0rem;
	height: 2rem;
	width: 15rem;
	border: 2px solid blue;
	border-radius:4px;
	text-align: center;
	font-size: 0.7rem;
}

input.password {
	position: relative;
	top: 8rem;
	left: 0rem;
	height: 2rem;
	width: 15rem;
	border: 2px solid blue;
	border-radius:4px;
	text-align: center;
	font-size: 0.7rem;
}

input.conpassword {
	position: relative;
	top: 10rem;
	left: 0rem;
	height: 2rem;
	width: 15rem;
	border: 2px solid blue;
	border-radius:4px;
	text-align: center;
	font-size: 0.7rem;
}

button.btnreset{
	position: absolute;
	top: 350px;
	left: 100px;
	padding: 5px 25px 5px 25px;
	border-radius: 10px;
	color: blue;
	background-color: white;
	font-size: 16px
}

#form {
	top: 36vh;
    text-align:center;
    left:38px;
    background-color:none;
    height:60%;
    width: 85%;
}
